.vscode/
.idea/

*.exe
*.o
*.obj
*.pdb
*.log

*.tmp
*.swp

*.gcda
*.gcno
coverage.info
coverage/
out/


test/output/


.codacy-coverage/
.scannerwork/


goto_xy_windows.cpp
goto_xy_windows.h


*.depend
*.cbp
